@charset "utf-8";
/* CSS Document */

.body{
	width:1366px;
	height:1500px;
	background-color:#d7dbda;
	color:#020202;
	}
.header{
	width:1366px;
	}
.menubar{
	width:1152px;
	background-color:#fffefd;
	position: absolute;
	margin-left: 107px;
	margin-top: 105px;
	/*z-index: 1;*/
   }
   .nav{
	   list-style:none;
	   float:left;
	   font-size:16px;
	   color:#eae8e6;
	   margin-top: -138px;
	  /* margin-left:10px;*/
	   }   
   .nav li{
	   width:130px;
	   height:26px;
	   float:left;	
	  /* border-bottom:#e1e4e1 solid 3px; */  
   }
   .nav li a{
	   display:inline-block;
	   width:120px;
	   height:38px;
	   float:left;
	   font-size:19px;
	   color:#5b5651;
	   text-align:center;
	   margin-left: 11px;   
   }
	 .nav li a b{
		/* margin-left:30px;*/
		float:right;
	 }
	 .nav li:hover{
		 border-bottom:#1b7819 solid 3px;
		 /*font-weight:bold;*/
		 } 
.main{
	width:1152px;
	height:810px;
	margin:0 auto;
	background-color:#fffefd;
	}
.container{
	float:left; 
	width:765px; 
	height:280px;
	}
   .content1{
	   width:1152px;
	   height:240px;
	   margin-top: -8px;
	   /*background-color:#0C3;*/
	   }
	 .content1_left{
		/* background-color:#960;*/
		 width:375px;
		 height:235px;
		 float:left;
		 border:#eae8e6 solid 1px;
		 margin-left:4px;
		  margin-top:4px;
		 }
		.left_top{
			width:365px;
			height:26px;
			background-color:#eae8e6;
			font-size:20px;
			margin:2px;
			padding-top:4px;
			padding-left:6px;
		    }
		.left_bottom{
			height: 200px;
		}  
	 .left_bottom a{
		 display:inline-block;
		 width:240px;
		 height:50px;
		 list-style:none;
		 text-align:center;
		 margin-bottom:20px;
		 margin-right:63px;
		 margin-top:20px;
		 border:#1b7819 solid 1px;
		 border-radius:10px;
		 line-height:50px;
		 vertical-align:middle;
		}		
		.left_bottom a:hover{
			color:#fdfdfd;
			background-color:#79c259;
			border:#eae8e6 solid 4px;
			}	
			.left_bottom a img{
				vertical-align:middle;
				padding-right:8px;
				padding-left:14px;
				}
	  .content1_right{
		  width:754px;
		  height:235px;
		  margin-right:6px;
		  margin-top:4px;
		  float:right;
		  border:#eae8e6 solid 1px;
	     }	 
.wrap{
  height:230px;
  width:754px;
  /*margin:0px auto;*/
  overflow: hidden;
  position: relative;
  /*position:absolute;*/
  margin-left:-20px;
}
.wrap ul{
	width:754px;
	position:absolute;
} 
.wrap ul li{
	width:754px;
	height:214px;
	
	}
.wrap ol{
   position:absolute;
   right:5px;
   bottom:4px;
}
 .wrap ol li{
	height:20px;
	width: 20px;/*20*/
    background:#ccc;
    border:solid 1px #666;
    margin-left:5px;/*5px*/
    color:#000;
    float:left;
    
    text-align:center;
    cursor:pointer;
}
 .wrap ol .on{
	background:#E97305;
    color:#fff;
}  
 .content2{
	   width:1152px;
	   height:280px;
	   overflow:hidden;
	   }
	   .content2_left{
		   width:375px;
		   height:270px;
		   margin-top:6px;
		   border:#eae8e6 solid 1px;
		   float:left;
		   margin-left:4px;
		   }
		.top{
			   width:365px;
			   height:26px;
			   background-color:#eae8e6;
			   font-size:16px;
			   margin:2px;
			   padding-top:4px;
			   padding-left:6px;
			   }
	      a{
			 text-decoration:none;
			/* margin-left:10px;*/
			 color:#333;
			 font-size:16px;
			 float:right;
			 padding-right:18px;
			}
		.news{
			width: 370px;
			height: 260px;
			float: left;
			font-size:14px;
			
			margin-top:2px;
			list-style: none;
			
		}
		.news ul{
			width: 310px;
			height: 250px;
			/*display: block;
			float: left;*/

		}
		.news li{
			width: 350px;
			height: 26px;
			display: inline-block;
			float:left;
	        font-size:14px;
	        margin-left: -25px;

		}
		.news a{
			width: 220px;
			height: 20px;
			text-decoration: none;
			font-size: 14px;
			display: inline-block;
			float: left; 
			color: #020202;
			line-height:150%;
			overflow:hidden;
            text-overflow:ellipsis; 
		}
		.date{
			width: 70px;
			font-size: 12px;
			display: inline-block;
			float: right;
		}
		/*.news{
			width:340px;
			height:260px;
			font-size:14px;
			float:left;
			line-height:250%;
			overflow:hidden;
			list-style: none;
			font-size:14px;
			margin-left:0;
			margin-top:2px;
			margin-left:-20px;
			}
		.date{
			width:50px;
			height:260px;
			float:right;
			line-height:250%;
			overflow:hidden;
			list-style: none;
			font-size:14px;
			margin-top:2px;
			margin-left:-20px;
			}
		ul li{
			height:24px;
			overflow:hidden;
			}
		*/	 
		.content2_center{
		   width:375px;
		   height:270px;
		   margin-top:6px;
		   margin-left:2px;
		   border:#eae8e6 solid 1px;
		   float:right;
		   }
		.content2_right{
			width:375px;
			height:270px;
			margin-top:6px;
			margin-right:4px;
			border:#eae8e6 solid 1px;
		    float:right;
		   }
.footer{
	width:1152px;
	height:58px;
	border:#eae8e6 solid 1px;
	margin-top:10px;
	margin:0 auto;
	background-color:#fefefe;
	   }
	.footer_top{
		width:1150px;
		height:24px;
		color:#020202;
		border:#1b7819 solid 2px;	
	}
	.footer_top ul{
		width: 1150px;
		display: inline-block;
		

	}
	.footer_top li{
		height: 20px;
		display: inline-block;
		float: left;
        margin-top: -14px;
	}
	.footer_top a{
		height: 16px;
		font-size:14px;
        padding-right: 0px;
        
	}
	.footer_top a:hover{
		border-bottom: green solid 2px;
	}
	/*
	.footer_top .L{
		width:90px;
		height:24px;
		float:left;
		text-align:right;
	}
	.footer_top .link{
		width:1000px;
		height:24px;
		float:right;
	}
	.footer_top  .link .a{
		list-style:none;
		text-decoration:none;
		color:#747474;
	    padding-top:4px;
		}
		*/
		/*.footer_top b{
			width:90px;
			padding-left:14px;
		    padding-top:14px;
			color:#020202;
			}*/
 .footer_bottom{
	 width:1150px;
	 height:26px;
	 font-size:14px;
	 color:#747474;
	 text-align:center;
	 margin-top:4px;
 }
